durations~=0.3.3
feedparser~=6.0.12
libvirt-python~=12.2.0
loguru~=0.7.3
mkdocs-autoapi
mkdocs-material
mkdocstrings[python]
octorest~=0.4
pandas~=3.0.2
plumbum~=1.10.0
proxmoxer~=2.3.0
psutil~=7.2.2
pwntools~=4.15.0
python-benedict[yaml]~=0.36.0
pyyaml~=6.0.2
requests~=2.33.1
requests-unixsocket~=0.4.1
rich~=15.0.0
rpyc~=6.0.2
textual~=8.2.5
urllib3~=2.6.3
watchfiles~=1.1.1